<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <title>Show all Trivia Questions</title>
    <style>
        div.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 15;
            width: 100%;
      
        }
    </style>
</head>

<body>
    <div class="fixed" id="topdivision">
        <h1 id="pagetitle">Trivia Database</h1>

            <nav id="trivianav">
            <a class="trivialinks" href="/trivia/new">Add a Question</a>

            <a class="trivialinks" href="/categories">View Categories</a>
            <a class="trivialinks" href="/auth/logout">Log Out</a>
        </nav>
        <h4 id="instructions">Click on any line to view or update that trivia question.</h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <ol class="trivia">
        <div name="triviaDiv">
           <% for (let i = 0; i < trivia.length; i++) { %>
           <br>
            <div">
                <li id="question">
            
               <div id="edit">
                   
                    <a id="showButton" href="/trivia/<%=trivia[i].id%>"><%=trivia[i].question%></a> 
                
               </div>
                <% } %>
            </div>
    </ul>
    </div>
</body>

</html>