<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Trivia Database</h1>
    <h2>Add New Trivia Question</h2>

    <form id="addform" action="/trivia" method="POST">
      Question: <input id="addquestion" type="text" name="question" /><br />
      Answer1: <input id="add1" type="text" name="answer1" /> <br />
      Answer2: <input type="text" name="answer2" /> <br />
      Answer3: <input type="text" name="answer3" /> <br />
      Answer4: <input type="text" name="answer4" /> <br />
      Correct Answer: <input type="number" name="correctAnswer" /><br />
      <br />
      Category:
      <select type="number" name="categoryId">
        <%for(let i=0; i < categories.length; i++) { %>
        <option value="<%=categories[i].id%>">
          <%=categories[i].name%>
        </option>
        <% } %>
      </select>

      <br />
      <br />
      <input class="trivialinks" type="submit" value="Add" />
    </form>
    <br />
    <div id="addLinks">
      <a class="trivialinks" href="/trivia">Return to Trivia Page</a>
    </div>
  </body>
</html>
