<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log-in Error</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Trivia Database</h1>
    <h2>User Login Error</h2>
    <br />
    <h2 id="errormsg">Password or User ID did not match</h2>

    <a id="log_in_link" href="/auth/login">Return to User Log In</a>
  </body>
</html>
